.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 696px; /* висота банера */
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url('/image/Picture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 260px;
  padding-bottom: 260px;
  padding-left: 64px;
}

.overlay {
  /* text-align: center; */
  color: #fff;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  margin-bottom: 16px;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.button {
  border-radius: 200px;
  padding-block: 16px;
  max-width: 173px;
  height: 56px;
  background-color: #e44848;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  padding: 16px 48px;
}

.button:hover {
  background-color: #d84343;
}