.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f7f7f7;
border-bottom: 1px solid #f2f4f7;
padding-block: 24px;
padding-inline: 64px;
width: 1440px;
height: 72px;
gap: 450px;
}


.logo {
font-weight: bold;
color: #000;
}


.nav {
display: flex;
width: 138px;
height: 24px;
gap: 32px;
padding-top: 24px;
padding-bottom: 24px;

}


.link {
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
color: #101828;
}


.link:hover {
color: #d84343;
}